<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ForEgg - content</title>

		<!-- CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/product.css" rel="stylesheet">
	</head>
	<body>
		<% include common/header.ejs %>
		<div class="container py-5">
			<div class="d-flex mb-3">
				<a href="/creater" class="btn btn-sm btn-outline-secondary">‹ 돌아가기</a>
				<% if (login && login.type == 0) { %>
					<form action="/content" method="post" class="ml-auto">
						<input type="hidden" name="id" value="<%=matchData.match_id%>">
						<button class="btn btn-sm btn-outline-danger">삭제하기</button>
					</form>
				<% } %>
			</div>
			<div>
				<h5><span class="text-primary">[<%=matchData.type_name%>]</span><%=matchData.match_title%></h5>
				<div class="row m-0 text-muted small">
					<p class="col-18 col-md p-0 m-0">
						<% if (matchData.user_picture) { %>
							<img src="<%=matchData.user_picture%>" class="h-2r rounded-pill w-auto"><%=matchData.user_nickname%>
						<% } else { %>
							<img src="img/basic_profile.png" class="h-2r rounded-pill w-auto"><%=matchData.user_nickname%>
						<% } %>
					</p>
					<p class="col-6 p-0 m-0 text-right"><%=matchData.match_create_date%></p>
				</div>
				<hr>
				<% var videoIndex = 0; %>
				<% if (matchData.match_video_count) { %>
					<div class="p-4">
						<div class="position-relative w-100" style="padding-bottom: 56.25%;">
							<iframe class="h-100 position-absolute w-100" src="<%=match_videoData[videoIndex++].match_video_link%>" width="640" height="360" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				<% } %>
			</div>
			<p>
				<%var lines = matchData.match_content.split("\n");%>
				<%lines.forEach(function(item) {%>
					<%=item%><br/>
				<%})%>
			</p>
			<div class="text-center py-5">
				<a href="/match" class="btn btn-lg btn-primary">매칭신청</a>
			</div>
		</div>

		<% include common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/common.js"></script>

	</body>
</html>
