<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ForEgg</title>

		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/product.css" rel="stylesheet">
		<link href="css/header.css" rel="stylesheet">
	</head>
	<body>
		<% include common/header.ejs %>
		<div id="headline" class="d-flex flex-column justify-content-center text-center">
			<div class="text-white">
				<h1 class="display-4 font-weight-normal">ForEgg</h1>
				<p class="lead font-weight-normal">The easiest way to create your own video.<br>This is the time to ForEgg.</p>
				<a class="btn btn-outline-light" href="#">Coming soon</a>
			</div>
		</div>
		<!-- Recent -->
		<div class="w-100 p-3 px-md-5 py-5">
			<h4 class="text-center">새로 올라온 매칭</h4>
			<hr class="w-2r">
			<div class="d-flex flex-wrap justify-content-center">
 				<% for (var i = 0; i < matchData.length; i++) { %>
				<div class="my-card mx-0 mx-md-2 my-2 bg-light shadow-hoverable-sm">
					<a href="/content?id=<%=matchData[i].match_id%>">
						<div class="d-flex">
							<div class="my-card-content d-flex flex-column px-3 pt-4 pb-3">
								<p class="text-dark font-weight-bold my-1"><%=matchData[i].match_title%></p>
								<small class="text-muted">by <%=matchData[i].user_nickname%></small>
								<div class="align-items-center d-flex mt-auto small text-muted">
									<span class="border px-2 py-1 rounded-pill"><%=matchData[i].type_name%></span>
									<span class="ml-auto"><%=matchData[i].match_create_date%></span>
								</div>
							</div>
							<img class="my-card-image" src="<%=matchData[i].user_picture%>">
						</div>
					</a>
				</div>
				<% } %>
			</div>
		</div>
		<% include common/footer.ejs %>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/common.js"></script>
	</body>
</html>